USE [master]
GO
/****** Object:  Database [PBL2]    Script Date: 19/12/2025 10:40:51 CH ******/
CREATE DATABASE [PBL2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PBL2_data', FILENAME = N'D:\sql\DATEBASE\PBL2_data.mdf' , SIZE = 15360KB , MAXSIZE = 102400KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'PBL2_log', FILENAME = N'D:\sql\DATEBASE\PBL2_log.ldf' , SIZE = 10240KB , MAXSIZE = 51200KB , FILEGROWTH = 5120KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PBL2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PBL2]
GO
/****** Object:  Table [dbo].[CungCapSanPham]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CungCapSanPham](
	[MaNCC] [varchar](255) NOT NULL,
	[MaSanPham] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChinhSachTon]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChinhSachTon](
	[MaChinhSach] [varchar](255) NOT NULL,
	[MaSanPham] [varchar](255) NOT NULL,
	[MucPhucVu] [decimal](5, 4) NULL,
	[HeSoZ] [decimal](5, 2) NULL,
	[TonKhoAnToan] [decimal](18, 2) NULL,
	[DiemTaiDatHang] [decimal](18, 2) NULL,
	[EOQ] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChinhSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonDatHang]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonDatHang](
	[MaDonHang] [varchar](50) NOT NULL,
	[MaSanPham] [varchar](255) NOT NULL,
	[SoLuong] [float] NULL,
	[DonGiaVon] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonVC]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonVC](
	[MaDonVC] [varchar](50) NOT NULL,
	[MaSanPham] [varchar](255) NOT NULL,
	[MaLoHang] [varchar](255) NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ChiTietDonVC] PRIMARY KEY CLUSTERED 
(
	[MaDonVC] ASC,
	[MaSanPham] ASC,
	[MaLoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietLoHang]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietLoHang](
	[MaLoHang] [varchar](255) NOT NULL,
	[MaSanPham] [varchar](255) NOT NULL,
	[SoLuongTan] [decimal](18, 2) NULL,
	[HanSuDung] [date] NULL,
	[GiaTriSP] [decimal](18, 2) NULL,
	[TheTich] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietTonKho]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTonKho](
	[S] [int] IDENTITY(1,1) NOT NULL,
	[MaLoHang] [varchar](255) NULL,
	[MaSanPham] [varchar](255) NULL,
	[SoLuongTan] [float] NULL,
	[HanSuDung] [date] NULL,
	[GiaTriSanPham] [decimal](18, 2) NULL,
	[TheTich] [float] NULL,
 CONSTRAINT [PK_ChiTietTonKho] PRIMARY KEY CLUSTERED 
(
	[S] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietYeuCau]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietYeuCau](
	[MaYeuCau] [varchar](255) NOT NULL,
	[MaSanPham] [varchar](255) NOT NULL,
	[SoTanYeuCau] [decimal](18, 4) NULL,
	[GiaTri] [decimal](18, 2) NULL,
 CONSTRAINT [PK__ChiTietY__0009AB0C3BAA293A] PRIMARY KEY CLUSTERED 
(
	[MaYeuCau] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DinhGiaDong]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhGiaDong](
	[MaGia] [varchar](255) NOT NULL,
	[MaSanPham] [varchar](255) NOT NULL,
	[GiaBanDeXuat] [decimal](18, 2) NULL,
	[LuongBanDuKien] [decimal](18, 2) NULL,
	[LoiNhuanKyVong] [decimal](18, 2) NULL,
	[NgayTinh] [date] NULL,
	[GhiChu] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaDonHang] [varchar](50) NOT NULL,
	[NgayDat] [datetime] NULL,
	[MaKho] [varchar](255) NULL,
	[TongTienHang] [decimal](18, 2) NULL,
	[TongPhiVanChuyen] [decimal](18, 2) NULL,
	[TongThanhToan] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaNCC] [varchar](255) NULL,
	[MaXe] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonVanChuyen]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVanChuyen](
	[MaDonVC] [varchar](50) NOT NULL,
	[MaXe] [varchar](50) NULL,
	[MaKho] [varchar](50) NULL,
	[MaSieuThi] [varchar](50) NULL,
	[TongKhoiLuong] [float] NULL,
	[TongChiPhi] [decimal](18, 2) NULL,
	[ThoiGianDuKien] [float] NULL,
	[NgayTao] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaYeuCauGoc] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DuBaoNhuCau]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuBaoNhuCau](
	[MaDuBao] [varchar](255) NOT NULL,
	[MaSanPham] [varchar](255) NOT NULL,
	[TuNgay] [date] NULL,
	[DenNgay] [date] NULL,
	[NhuCauTrungBinh] [decimal](18, 2) NULL,
	[DoLechChuan] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDuBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaKho] [varchar](255) NOT NULL,
	[TenKho] [nvarchar](255) NOT NULL,
	[SucChua] [decimal](18, 2) NULL,
	[NhietDoMin] [decimal](5, 2) NULL,
	[NhietDoMax] [decimal](5, 2) NULL,
	[Tinh] [nvarchar](100) NULL,
	[QuanHuyen] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [varchar](20) NULL,
	[CongSuatCoBan] [float] NULL,
	[HeSoCongSuat] [float] NULL,
	[ChiPhiHaNhiet] [decimal](18, 2) NULL,
	[ChiPhiTangNhiet] [decimal](18, 2) NULL,
 CONSTRAINT [PK__Kho__3BDA9350A1AEB0A8] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoHang]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoHang](
	[MaLoHang] [varchar](255) NOT NULL,
	[MaKho] [varchar](255) NOT NULL,
	[MaNCC] [varchar](255) NOT NULL,
	[NgayNhap] [date] NULL,
	[SoLuongTanTong] [decimal](18, 2) NULL,
	[GiaTriTong] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](255) NOT NULL,
	[TenNCC] [nvarchar](255) NOT NULL,
	[ThoiGianCho] [decimal](10, 2) NULL,
	[ChiPhiDat] [decimal](18, 2) NULL,
	[Tinh] [nvarchar](100) NULL,
	[QuanHuyen] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanBoNguonHang]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanBoNguonHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaYeuCau] [varchar](255) NULL,
	[MaKho] [varchar](255) NULL,
	[LoaiNguon] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[ChiPhiVanChuyen] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongTien]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongTien](
	[MaXe] [varchar](50) NOT NULL,
	[LoaiXe] [nvarchar](100) NULL,
	[SoXe] [int] NULL,
	[SucChuaTan] [float] NULL,
	[ChiPhiMoiChuyen] [decimal](18, 2) NULL,
	[Tinh] [nvarchar](100) NULL,
	[QuanHuyen] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SDT] [varchar](20) NULL,
	[PhuThemKhacTinh] [decimal](18, 2) NULL,
	[PhuThemKhacQuanHuyen] [decimal](18, 2) NULL,
	[VanTocTB] [float] NULL,
	[GioCong] [float] NULL,
	[Lrate] [decimal](18, 2) NULL,
	[Urate] [decimal](18, 2) NULL,
	[Tsetup] [decimal](18, 2) NULL,
 CONSTRAINT [PK__PhuongTi__272520CD787A0547] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](255) NOT NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[Loai] [nvarchar](100) NULL,
	[GiaVon] [decimal](18, 2) NULL,
	[TheTich1Tan] [decimal](10, 2) NULL,
	[NhietDoThichHop] [decimal](5, 2) NULL,
	[NhomPhanLoai] [nvarchar](10) NULL,
	[RuiRoLanh] [float] NULL,
	[RuiRoNong] [float] NULL,
	[HanSuDungTieuChuan] [int] NULL,
	[GiaBan] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SieuThi]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SieuThi](
	[MaSieuThi] [varchar](255) NOT NULL,
	[TenSieuThi] [nvarchar](255) NOT NULL,
	[MucPhatThieu] [decimal](18, 2) NULL,
	[Tinh] [nvarchar](100) NULL,
	[QuanHuyen] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SDT] [varchar](20) NULL,
 CONSTRAINT [PK__SieuThi__7CF72B9FD573980E] PRIMARY KEY CLUSTERED 
(
	[MaSieuThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[QuyenHan] [varchar](20) NOT NULL,
	[MaLienKet] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[MaLoHang] [varchar](255) NOT NULL,
	[MaKho] [varchar](50) NOT NULL,
	[SoLuongTanTong] [float] NULL,
 CONSTRAINT [PK_TonKho] PRIMARY KEY CLUSTERED 
(
	[MaLoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuyenNhapHang]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenNhapHang](
	[MaTuyen] [varchar](50) NOT NULL,
	[MaNCC] [varchar](255) NOT NULL,
	[MaKhoNhan] [varchar](255) NOT NULL,
	[KhoTrungChuyen] [varchar](255) NULL,
	[MaXe] [varchar](50) NOT NULL,
	[ChiPhiTuyenCoDinh] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuyenVanChuyen]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenVanChuyen](
	[MaTuyen] [varchar](50) NOT NULL,
	[KhoDi] [varchar](255) NULL,
	[KhoTrungChuyen] [varchar](255) NULL,
	[SieuThiNhan] [varchar](255) NULL,
	[MaXe] [varchar](50) NULL,
	[ChiPhiTuyenCoDinh] [decimal](18, 2) NULL,
 CONSTRAINT [PK__TuyenVan__B4576020D90ACEB9] PRIMARY KEY CLUSTERED 
(
	[MaTuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCau]    Script Date: 19/12/2025 10:40:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCau](
	[MaYeuCau] [varchar](255) NOT NULL,
	[MaSieuThi] [varchar](255) NOT NULL,
	[NgayYeuCau] [date] NULL,
	[GiaTriTong] [decimal](18, 2) NULL,
	[HoanThanh] [nchar](50) NULL,
 CONSTRAINT [PK__YeuCau__CFA5DF4EC89813B7] PRIMARY KEY CLUSTERED 
(
	[MaYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CungCapSanPham_MaSP]    Script Date: 19/12/2025 10:40:52 CH ******/
CREATE NONCLUSTERED INDEX [IDX_CungCapSanPham_MaSP] ON [dbo].[CungCapSanPham]
(
	[MaSanPham] ASC
)
INCLUDE([MaNCC]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DonDatHang_TrangThai]    Script Date: 19/12/2025 10:40:52 CH ******/
CREATE NONCLUSTERED INDEX [IDX_DonDatHang_TrangThai] ON [dbo].[DonDatHang]
(
	[MaKho] ASC,
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_PhuongTien_Load]    Script Date: 19/12/2025 10:40:52 CH ******/
CREATE NONCLUSTERED INDEX [IDX_PhuongTien_Load] ON [dbo].[PhuongTien]
(
	[SucChuaTan] ASC
)
INCLUDE([MaXe],[LoaiXe],[ChiPhiMoiChuyen]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_TuyenNhapHang_Route]    Script Date: 19/12/2025 10:40:52 CH ******/
CREATE NONCLUSTERED INDEX [IDX_TuyenNhapHang_Route] ON [dbo].[TuyenNhapHang]
(
	[MaNCC] ASC,
	[MaKhoNhan] ASC
)
INCLUDE([ChiPhiTuyenCoDinh]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDonVC] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[ChiTietDonVC] ADD  DEFAULT ((0)) FOR [ThanhTien]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  DEFAULT (N'Đang Chờ Xử Lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonVanChuyen] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhanBoNguonHang] ADD  DEFAULT ((0)) FOR [ChiPhiVanChuyen]
GO
ALTER TABLE [dbo].[PhuongTien] ADD  CONSTRAINT [DF__PhuongTie__VanTo__4A8310C6]  DEFAULT ((45)) FOR [VanTocTB]
GO
ALTER TABLE [dbo].[TuyenNhapHang] ADD  DEFAULT ((0)) FOR [ChiPhiTuyenCoDinh]
GO
ALTER TABLE [dbo].[CungCapSanPham]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[CungCapSanPham]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChinhSachTon]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonDatHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietDonVC]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_DonVC] FOREIGN KEY([MaDonVC])
REFERENCES [dbo].[DonVanChuyen] ([MaDonVC])
GO
ALTER TABLE [dbo].[ChiTietDonVC] CHECK CONSTRAINT [FK_ChiTiet_DonVC]
GO
ALTER TABLE [dbo].[ChiTietDonVC]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_LoHang] FOREIGN KEY([MaLoHang])
REFERENCES [dbo].[LoHang] ([MaLoHang])
GO
ALTER TABLE [dbo].[ChiTietDonVC] CHECK CONSTRAINT [FK_ChiTiet_LoHang]
GO
ALTER TABLE [dbo].[ChiTietDonVC]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietDonVC] CHECK CONSTRAINT [FK_ChiTiet_SanPham]
GO
ALTER TABLE [dbo].[ChiTietLoHang]  WITH CHECK ADD FOREIGN KEY([MaLoHang])
REFERENCES [dbo].[LoHang] ([MaLoHang])
GO
ALTER TABLE [dbo].[ChiTietLoHang]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietTonKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTonKho_TonKho] FOREIGN KEY([MaLoHang])
REFERENCES [dbo].[TonKho] ([MaLoHang])
GO
ALTER TABLE [dbo].[ChiTietTonKho] CHECK CONSTRAINT [FK_ChiTietTonKho_TonKho]
GO
ALTER TABLE [dbo].[ChiTietYeuCau]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietYe__MaSan__17036CC0] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietYeuCau] CHECK CONSTRAINT [FK__ChiTietYe__MaSan__17036CC0]
GO
ALTER TABLE [dbo].[ChiTietYeuCau]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietYe__MaYeu__160F4887] FOREIGN KEY([MaYeuCau])
REFERENCES [dbo].[YeuCau] ([MaYeuCau])
GO
ALTER TABLE [dbo].[ChiTietYeuCau] CHECK CONSTRAINT [FK__ChiTietYe__MaYeu__160F4887]
GO
ALTER TABLE [dbo].[DinhGiaDong]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[DuBaoNhuCau]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[LoHang]  WITH CHECK ADD  CONSTRAINT [FK__LoHang__MaKho__0B91BA14] FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[LoHang] CHECK CONSTRAINT [FK__LoHang__MaKho__0B91BA14]
GO
ALTER TABLE [dbo].[LoHang]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhanBoNguonHang]  WITH CHECK ADD  CONSTRAINT [FK_PhanBo_Kho] FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[PhanBoNguonHang] CHECK CONSTRAINT [FK_PhanBo_Kho]
GO
ALTER TABLE [dbo].[PhanBoNguonHang]  WITH CHECK ADD  CONSTRAINT [FK_PhanBo_YeuCau] FOREIGN KEY([MaYeuCau])
REFERENCES [dbo].[YeuCau] ([MaYeuCau])
GO
ALTER TABLE [dbo].[PhanBoNguonHang] CHECK CONSTRAINT [FK_PhanBo_YeuCau]
GO
ALTER TABLE [dbo].[TuyenNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_TNH_Kho] FOREIGN KEY([MaKhoNhan])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[TuyenNhapHang] CHECK CONSTRAINT [FK_TNH_Kho]
GO
ALTER TABLE [dbo].[TuyenNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_TNH_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[TuyenNhapHang] CHECK CONSTRAINT [FK_TNH_NCC]
GO
ALTER TABLE [dbo].[TuyenNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_TNH_Xe] FOREIGN KEY([MaXe])
REFERENCES [dbo].[PhuongTien] ([MaXe])
GO
ALTER TABLE [dbo].[TuyenNhapHang] CHECK CONSTRAINT [FK_TNH_Xe]
GO
ALTER TABLE [dbo].[TuyenVanChuyen]  WITH CHECK ADD  CONSTRAINT [FK_Tuyen_KhoDi] FOREIGN KEY([KhoDi])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[TuyenVanChuyen] CHECK CONSTRAINT [FK_Tuyen_KhoDi]
GO
ALTER TABLE [dbo].[TuyenVanChuyen]  WITH CHECK ADD  CONSTRAINT [FK_Tuyen_KhoTC] FOREIGN KEY([KhoTrungChuyen])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[TuyenVanChuyen] CHECK CONSTRAINT [FK_Tuyen_KhoTC]
GO
ALTER TABLE [dbo].[TuyenVanChuyen]  WITH CHECK ADD  CONSTRAINT [FK_Tuyen_Xe] FOREIGN KEY([MaXe])
REFERENCES [dbo].[PhuongTien] ([MaXe])
GO
ALTER TABLE [dbo].[TuyenVanChuyen] CHECK CONSTRAINT [FK_Tuyen_Xe]
GO
ALTER TABLE [dbo].[YeuCau]  WITH CHECK ADD  CONSTRAINT [FK__YeuCau__MaSieuTh__1332DBDC] FOREIGN KEY([MaSieuThi])
REFERENCES [dbo].[SieuThi] ([MaSieuThi])
GO
ALTER TABLE [dbo].[YeuCau] CHECK CONSTRAINT [FK__YeuCau__MaSieuTh__1332DBDC]
GO
USE [master]
GO
